scripts/flow.json
[{"id":"11856553.3cb67b","type":"watson-conversation-v1","z":"5fdf2ffa.0ade2","name":"","workspaceid":"ff9a0838-7cb3-4932-a12d-f8843dca4448","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"","timeout":"","optout-learning":false,"x":740,"y":320,"wires":[["2ab6c3d.507ba3c"]]},{"id":"770c887e.557fe8","type":"watson-speech-to-text","z":"5fdf2ffa.0ade2","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"FUCbl5WWa5C1","payload-response":false,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":400,"y":80,"wires":[["85292c7a.d3825"]]},{"id":"c1a9e739.312708","type":"watson-text-to-speech","z":"5fdf2ffa.0ade2","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"FUCbl5WWa5C1","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":1100,"y":240,"wires":[["662472bb.366fcc"]]},{"id":"85292c7a.d3825","type":"function","z":"5fdf2ffa.0ade2","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["52189f4a.a1477"]]},{"id":"662472bb.366fcc","type":"function","z":"5fdf2ffa.0ade2","name":"Set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":280,"wires":[["f9547435.cd9398"]]},{"id":"f9547435.cd9398","type":"play audio","z":"5fdf2ffa.0ade2","name":"","voice":"0","x":1350,"y":220,"wires":[]},{"id":"2943b4b9.dbb1ec","type":"watson-conversation-v1","z":"5fdf2ffa.0ade2","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":575.3333129882812,"y":1565.7500295639038,"wires":[["71e9caa3.8b0204"]]},{"id":"de7b71ec.e93df","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":166.33331298828125,"y":1483.7500295639038,"wires":[["75e8a985.f74128"]]},{"id":"109509dc.bcde46","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":166.83331298828125,"y":1520.7500295639038,"wires":[["75e8a985.f74128"]]},{"id":"75e8a985.f74128","type":"function","z":"5fdf2ffa.0ade2","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":337.83331298828125,"y":1519.7500295639038,"wires":[["2943b4b9.dbb1ec"]]},{"id":"c41efac7.a0ae58","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":165.33331298828125,"y":1604.7500295639038,"wires":[["6dbcbb3f.a40254"]]},{"id":"9078da81.dbc2f8","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":165.83331298828125,"y":1640.7500295639038,"wires":[["6dbcbb3f.a40254"]]},{"id":"6dbcbb3f.a40254","type":"function","z":"5fdf2ffa.0ade2","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":336.83331298828125,"y":1639.7500295639038,"wires":[["2943b4b9.dbb1ec"]]},{"id":"71e9caa3.8b0204","type":"debug","z":"5fdf2ffa.0ade2","name":"","active":true,"console":"false","complete":"payload.output.text","x":794.3333129882812,"y":1565.7500295639038,"wires":[]},{"id":"f21d19d9.ddf388","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":342.33331298828125,"y":1386.7500295639038,"wires":[["2943b4b9.dbb1ec"]]},{"id":"f2f900df.0b799","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":342.33331298828125,"y":1422.7500295639038,"wires":[["2943b4b9.dbb1ec"]]},{"id":"d958760c.c88428","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":213.83331298828125,"y":1734.7500295639038,"wires":[["2cdc0f86.94317"]]},{"id":"2cdc0f86.94317","type":"function","z":"5fdf2ffa.0ade2","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":358.83331298828125,"y":1734.7500295639038,"wires":[["2943b4b9.dbb1ec"]]},{"id":"833b6f5b.c65c7","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":166.83331298828125,"y":1556.7500295639038,"wires":[["75e8a985.f74128"]]},{"id":"315db14b.f0589e","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":165.33331298828125,"y":1676.7500295639038,"wires":[["6dbcbb3f.a40254"]]},{"id":"1f9a046e.8650fc","type":"inject","z":"5fdf2ffa.0ade2","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":342.33331298828125,"y":1458.7500295639038,"wires":[["2943b4b9.dbb1ec"]]},{"id":"2e59bd82.bff322","type":"link out","z":"5fdf2ffa.0ade2","name":"gototone","links":["5585992.c752b68"],"x":515,"y":520,"wires":[]},{"id":"d142f882.57a9d8","type":"link in","z":"5fdf2ffa.0ade2","name":"assist","links":["cab4afe4.d2fec","d33024d9.30bb68","fd0a56c5.5f4728"],"x":635,"y":320,"wires":[["11856553.3cb67b"]]},{"id":"5585992.c752b68","type":"link in","z":"5fdf2ffa.0ade2","name":"oohanne","links":["2e59bd82.bff322"],"x":635,"y":400,"wires":[["8e2c3d14.7133b","5ce79866.5cd768"]]},{"id":"8e2c3d14.7133b","type":"debug","z":"5fdf2ffa.0ade2","name":"Tone analyzer debug output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":400,"wires":[]},{"id":"5ce79866.5cd768","type":"watson-tone-analyzer-v3","z":"5fdf2ffa.0ade2","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"","x":740,"y":400,"wires":[["c24f52df.eee13"]]},{"id":"c24f52df.eee13","type":"function","z":"5fdf2ffa.0ade2","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1230,"y":400,"wires":[["fd0a56c5.5f4728"]]},{"id":"9231f06e.accc9","type":"comment","z":"5fdf2ffa.0ade2","name":"Speech process","info":"","x":140,"y":480,"wires":[]},{"id":"341d592d.771556","type":"comment","z":"5fdf2ffa.0ade2","name":"tone analyzer","info":"","x":1350,"y":440,"wires":[]},{"id":"cc4b76af.7cd638","type":"comment","z":"5fdf2ffa.0ade2","name":"Conversations/Weather process","info":"","x":1050,"y":320,"wires":[]},{"id":"2ab6c3d.507ba3c","type":"function","z":"5fdf2ffa.0ade2","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    \n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":2,"noerr":0,"x":800,"y":260,"wires":[[],["c1a9e739.312708"]]},{"id":"88b5930f.4d35","type":"weather_insights","z":"5fdf2ffa.0ade2","name":"","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"e","language":"en-US","x":1280,"y":140,"wires":[["9424874a.4ad958"]]},{"id":"38ded65c.e55f7a","type":"debug","z":"5fdf2ffa.0ade2","name":"Print parsed contents","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1040,"y":140,"wires":[]},{"id":"6ccfdf67.9678","type":"link in","z":"5fdf2ffa.0ade2","name":"weath","links":["a526e2d.e99f12","7ac8c4e1.796bec","cab4afe4.d2fec"],"x":635,"y":80,"wires":[["d453c3cd.33a4"]]},{"id":"a526e2d.e99f12","type":"link out","z":"5fdf2ffa.0ade2","name":"weathertotone","links":["6ccfdf67.9678"],"x":515,"y":440,"wires":[]},{"id":"fd0a56c5.5f4728","type":"link out","z":"5fdf2ffa.0ade2","name":"","links":["d142f882.57a9d8"],"x":1375,"y":400,"wires":[]},{"id":"52189f4a.a1477","type":"function","z":"5fdf2ffa.0ade2","name":"set payload","func":"incoming = msg.payload;\n\nif (incoming && incoming.indexOf(\"weather\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"weather\") != -1;\n    }).join(' ');\n    msg.payload = incoming;\n} else {\n    msg.payload = incoming;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["ab6ded08.00e26"]]},{"id":"330b7349.e59d3c","type":"switch","z":"5fdf2ffa.0ade2","name":"Weather or not","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"neq","v":"weather","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":480,"wires":[["a526e2d.e99f12"],["2e59bd82.bff322"]]},{"id":"7d7929f5.1f6f48","type":"microphone","z":"5fdf2ffa.0ade2","name":"","x":170,"y":80,"wires":[["770c887e.557fe8"]]},{"id":"6f684c6d.76b1c4","type":"http request","z":"5fdf2ffa.0ade2","name":"Get Weather","method":"GET","ret":"txt","url":"","tls":"","x":1030,"y":80,"wires":[["c4c362c4.dfe1f"]]},{"id":"d453c3cd.33a4","type":"function","z":"5fdf2ffa.0ade2","name":"Set map URL","func":"msg.url = \"https://www.google.com/maps/place/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":80,"wires":[["6f684c6d.76b1c4"]]},{"id":"c4c362c4.dfe1f","type":"function","z":"5fdf2ffa.0ade2","name":"Parse through contents","func":"var arr = [];\nvar str = msg.payload.split(\" \");\nfor(var i=0; i<str.length; i++){\n    arr.push(str[i]);\n}\nvar newStr = arr[88].split(\",\");\nvar newArr = [];\nfor(var j=0; j<newStr.length; j++){\n    newArr.push(newStr[j]);\n}\nmsg.payload = newArr[2].slice(0, -1) +\",\"+ newArr[1];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["88b5930f.4d35","38ded65c.e55f7a"]]},{"id":"9424874a.4ad958","type":"function","z":"5fdf2ffa.0ade2","name":"Weather sentence read out","func":"msg.payload = \"Currently \" + msg.observation.wx_phrase + \" in \" + msg.observation.obs_name + \" with \" + msg.observation.temp + \" degrees Fahrenheit\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":200,"wires":[["c1a9e739.312708"]]},{"id":"be7f521d.e9364","type":"ibmiot out","z":"5fdf2ffa.0ade2","authentication":"apiKey","apiKey":"8fe09997.fa8438","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"0.18.4","eventCommandType":"update","format":"json","data":"audio:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":470,"y":240,"wires":[]},{"id":"ab6ded08.00e26","type":"function","z":"5fdf2ffa.0ade2","name":"Device payload","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"audio\" : msg.payload\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["be7f521d.e9364","4e1616c6.caf7b8"]]},{"id":"4e1616c6.caf7b8","type":"debug","z":"5fdf2ffa.0ade2","name":"Debug output payload","active":true,"console":"false","complete":"payload","x":460,"y":300,"wires":[]},{"id":"b6b47ede.ac4ba","type":"comment","z":"5fdf2ffa.0ade2","name":"Configure iot creds","info":"","x":450,"y":200,"wires":[]},{"id":"2e3f8584.ca3e3a","type":"ibmiot in","z":"5fdf2ffa.0ade2","authentication":"apiKey","apiKey":"8fe09997.fa8438","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"oohanne","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":140,"y":380,"wires":[["3f428199.0ca88e"]]},{"id":"3f428199.0ca88e","type":"function","z":"5fdf2ffa.0ade2","name":"Return audio","func":"return {payload:msg.payload.d.audio};","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["4e1616c6.caf7b8","330b7349.e59d3c"]]},{"id":"f92c5c34.dd60a","type":"comment","z":"5fdf2ffa.0ade2","name":"Say: 1) \"turn on lights\" or 2) \"turn off lights\" or 3) \"play music\" or 4) \"the weather in Austin\" (or other city name)","info":"","x":750,"y":580,"wires":[]},{"id":"8fe09997.fa8438","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
