scripts/flow.json
[{"id":"30a0292.0416ed6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9b157a4b.4fe028","type":"watson-conversation-v1","z":"30a0292.0416ed6","name":"","workspaceid":"ff9a0838-7cb3-4932-a12d-f8843dca4448","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"","timeout":"","optout-learning":false,"x":792.857177734375,"y":334.2857165336609,"wires":[["ae02608b.3cba1"]]},{"id":"e1edf2b6.ff33e","type":"watson-speech-to-text","z":"30a0292.0416ed6","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"FUCbl5WWa5C1","payload-response":false,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":452.857177734375,"y":94.28571653366089,"wires":[["f9b52318.3593e"]]},{"id":"944f4fdd.dba57","type":"watson-text-to-speech","z":"30a0292.0416ed6","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"FUCbl5WWa5C1","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":1152.857177734375,"y":254.2857165336609,"wires":[["ee3c2107.9eb9e"]]},{"id":"f9b52318.3593e","type":"function","z":"30a0292.0416ed6","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":242.857177734375,"y":154.2857165336609,"wires":[["f95e7606.d4cf68"]]},{"id":"ee3c2107.9eb9e","type":"function","z":"30a0292.0416ed6","name":"Set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1322.857177734375,"y":294.2857165336609,"wires":[["2193ea6d.143326"]]},{"id":"2193ea6d.143326","type":"play audio","z":"30a0292.0416ed6","name":"","voice":"0","x":1402.857177734375,"y":234.2857165336609,"wires":[]},{"id":"f493e476.83fd98","type":"watson-conversation-v1","z":"30a0292.0416ed6","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":628.1904907226562,"y":1580.0357460975647,"wires":[["b9ad2f5b.69a4"]]},{"id":"8dc2dab1.f7b948","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.19049072265625,"y":1498.0357460975647,"wires":[["8ada7c31.92cc4"]]},{"id":"1f963cce.6ee6c3","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.69049072265625,"y":1535.0357460975647,"wires":[["8ada7c31.92cc4"]]},{"id":"8ada7c31.92cc4","type":"function","z":"30a0292.0416ed6","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":390.69049072265625,"y":1534.0357460975647,"wires":[["f493e476.83fd98"]]},{"id":"9ed1b617.9ca718","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.19049072265625,"y":1619.0357460975647,"wires":[["6af45516.6fa32c"]]},{"id":"7ec8d8d6.0768c8","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.69049072265625,"y":1655.0357460975647,"wires":[["6af45516.6fa32c"]]},{"id":"6af45516.6fa32c","type":"function","z":"30a0292.0416ed6","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":389.69049072265625,"y":1654.0357460975647,"wires":[["f493e476.83fd98"]]},{"id":"b9ad2f5b.69a4","type":"debug","z":"30a0292.0416ed6","name":"","active":true,"console":"false","complete":"payload.output.text","x":847.1904907226562,"y":1580.0357460975647,"wires":[]},{"id":"ee66267a.900538","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1401.0357460975647,"wires":[["f493e476.83fd98"]]},{"id":"318d84cd.5bbedc","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1437.0357460975647,"wires":[["f493e476.83fd98"]]},{"id":"189abd8f.ca46c2","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":266.69049072265625,"y":1749.0357460975647,"wires":[["94cc1f7c.21994"]]},{"id":"94cc1f7c.21994","type":"function","z":"30a0292.0416ed6","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":411.69049072265625,"y":1749.0357460975647,"wires":[["f493e476.83fd98"]]},{"id":"5e265ba5.835854","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.69049072265625,"y":1571.0357460975647,"wires":[["8ada7c31.92cc4"]]},{"id":"e247c851.798c08","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":218.19049072265625,"y":1691.0357460975647,"wires":[["6af45516.6fa32c"]]},{"id":"27961d38.c80b72","type":"inject","z":"30a0292.0416ed6","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":395.19049072265625,"y":1473.0357460975647,"wires":[["f493e476.83fd98"]]},{"id":"b7776ce5.963f5","type":"link out","z":"30a0292.0416ed6","name":"gototone","links":["1fad1433.fb623c"],"x":567.857177734375,"y":534.2857165336609,"wires":[]},{"id":"b157fc43.bc339","type":"link in","z":"30a0292.0416ed6","name":"assist","links":["cab4afe4.d2fec","d33024d9.30bb68","55176810.01a598"],"x":687.857177734375,"y":334.2857165336609,"wires":[["9b157a4b.4fe028"]]},{"id":"1fad1433.fb623c","type":"link in","z":"30a0292.0416ed6","name":"oohanne","links":["b7776ce5.963f5"],"x":687.857177734375,"y":414.2857165336609,"wires":[["2365d5a.978e42a","137b001e.ad147"]]},{"id":"2365d5a.978e42a","type":"debug","z":"30a0292.0416ed6","name":"Tone analyzer debug output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1012.857177734375,"y":414.2857165336609,"wires":[]},{"id":"137b001e.ad147","type":"watson-tone-analyzer-v3","z":"30a0292.0416ed6","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":true,"service-endpoint":"","x":792.857177734375,"y":414.2857165336609,"wires":[["d2b32988.2a4598"]]},{"id":"d2b32988.2a4598","type":"function","z":"30a0292.0416ed6","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1282.857177734375,"y":414.2857165336609,"wires":[["55176810.01a598"]]},{"id":"47b0450d.a8683c","type":"comment","z":"30a0292.0416ed6","name":"Speech process","info":"","x":192.857177734375,"y":494.2857165336609,"wires":[]},{"id":"b5c09841.d1bc18","type":"comment","z":"30a0292.0416ed6","name":"tone analyzer","info":"","x":1402.857177734375,"y":454.2857165336609,"wires":[]},{"id":"5eb7d35a.30362c","type":"comment","z":"30a0292.0416ed6","name":"Conversations/Weather process","info":"","x":1102.857177734375,"y":334.2857165336609,"wires":[]},{"id":"ae02608b.3cba1","type":"function","z":"30a0292.0416ed6","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    \n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":2,"noerr":0,"x":852.857177734375,"y":274.2857165336609,"wires":[[],["944f4fdd.dba57"]]},{"id":"526591f3.64d5a","type":"weather_insights","z":"30a0292.0416ed6","name":"","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"e","language":"en-US","x":1332.857177734375,"y":154.2857165336609,"wires":[["78a85c37.fe8724"]]},{"id":"ab166c89.20ecf","type":"debug","z":"30a0292.0416ed6","name":"Print parsed contents","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1097.1429061889648,"y":157.1428680419922,"wires":[]},{"id":"fd926a09.c64558","type":"link in","z":"30a0292.0416ed6","name":"weath","links":["af2e75f3.a58198","7ac8c4e1.796bec","cab4afe4.d2fec"],"x":687.857177734375,"y":94.28571653366089,"wires":[["3b937619.46362a"]]},{"id":"af2e75f3.a58198","type":"link out","z":"30a0292.0416ed6","name":"weathertotone","links":["fd926a09.c64558"],"x":567.857177734375,"y":454.2857165336609,"wires":[]},{"id":"55176810.01a598","type":"link out","z":"30a0292.0416ed6","name":"","links":["b157fc43.bc339"],"x":1427.857177734375,"y":414.2857165336609,"wires":[]},{"id":"f95e7606.d4cf68","type":"function","z":"30a0292.0416ed6","name":"set payload","func":"incoming = msg.payload;\n\nif (incoming && incoming.indexOf(\"weather\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"weather\") != -1;\n    }).join(' ');\n    msg.payload = incoming;\n} else {\n    msg.payload = incoming;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":442.857177734375,"y":154.2857165336609,"wires":[["2965b7ba.85c7d8"]]},{"id":"9164ca7a.c9a008","type":"switch","z":"30a0292.0416ed6","name":"Weather or not","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"weather","vt":"str"},{"t":"neq","v":"weather","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":412.857177734375,"y":494.2857165336609,"wires":[["af2e75f3.a58198"],["b7776ce5.963f5"]]},{"id":"1158d4f3.b3608b","type":"microphone","z":"30a0292.0416ed6","name":"","x":222.857177734375,"y":94.28571653366089,"wires":[["e1edf2b6.ff33e"]]},{"id":"78a85c37.fe8724","type":"function","z":"30a0292.0416ed6","name":"Weather sentence read out","func":"msg.payload = \"Currently \" + msg.observation.wx_phrase + \" in \" + msg.observation.obs_name + \" with \" + msg.observation.temp + \" degrees Fahrenheit\";\nreturn msg;","outputs":1,"noerr":0,"x":892.857177734375,"y":214.2857165336609,"wires":[["944f4fdd.dba57"]]},{"id":"8d1a07c0.062098","type":"ibmiot out","z":"30a0292.0416ed6","authentication":"apiKey","apiKey":"a1809db7.cd1dd","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"0.18.4","eventCommandType":"update","format":"json","data":"audio:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":522.857177734375,"y":254.2857165336609,"wires":[]},{"id":"2965b7ba.85c7d8","type":"function","z":"30a0292.0416ed6","name":"Device payload","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"audio\" : msg.payload\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":272.857177734375,"y":254.2857165336609,"wires":[["8d1a07c0.062098","783ad3b9.12283c"]]},{"id":"783ad3b9.12283c","type":"debug","z":"30a0292.0416ed6","name":"Debug output payload","active":true,"console":"false","complete":"payload","x":512.857177734375,"y":314.2857165336609,"wires":[]},{"id":"8324dda5.73fd4","type":"comment","z":"30a0292.0416ed6","name":"Configure iot creds","info":"","x":502.857177734375,"y":214.2857165336609,"wires":[]},{"id":"c690647b.559f28","type":"ibmiot in","z":"30a0292.0416ed6","authentication":"apiKey","apiKey":"a1809db7.cd1dd","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"oohanne","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":192.857177734375,"y":394.2857165336609,"wires":[["76205c67.b36e44"]]},{"id":"76205c67.b36e44","type":"function","z":"30a0292.0416ed6","name":"Return audio","func":"return {payload:msg.payload.d.audio};","outputs":1,"noerr":0,"x":402.857177734375,"y":394.2857165336609,"wires":[["783ad3b9.12283c","9164ca7a.c9a008"]]},{"id":"266a2d2e.8e30b2","type":"comment","z":"30a0292.0416ed6","name":"Say: 1) \"turn on lights\" or 2) \"turn off lights\" or 3) \"play music\" or 4) \"the weather in Austin\" (or other city name)","info":"","x":802.857177734375,"y":594.2857165336609,"wires":[]},{"id":"a2f26fa1.d48c5","type":"http request","z":"30a0292.0416ed6","name":"Get lat/lng","method":"GET","ret":"txt","url":"","tls":"","x":1091.428581237793,"y":89.99999904632568,"wires":[["5720619d.2b48d"]]},{"id":"3b937619.46362a","type":"function","z":"30a0292.0416ed6","name":"Set map URL","func":"// msg.url = \"https://www.google.com/maps/place/\" + msg.payload;\n// msg.url=\"http://geocoder.maplarge.com/geocoder/json?city=\"+msg.payload;\nstate=\"texas\";\ncity=\"austin\";\n// msg.url='http://api.wunderground.com/api/421920ddc8bd7347/forecast/q/' + state + '/' + city + '.json';\nmsg.url=\"https://api.opencagedata.com/geocode/v1/json?q=\"+msg.payload+\"&key=8e392f657c86445eb20fa03b119390da\";\nreturn msg;","outputs":1,"noerr":0,"x":850.2857894897461,"y":92.14285182952881,"wires":[["a2f26fa1.d48c5"]]},{"id":"5720619d.2b48d","type":"function","z":"30a0292.0416ed6","name":"parse","func":"var obj = JSON.parse(msg.payload);\nvar coord =obj[\"results\"][0][\"geometry\"].lat+\",\"+obj[\"results\"][0][\"geometry\"].lng;\nmsg.payload = coord;\nreturn msg;","outputs":1,"noerr":0,"x":876.1032409667969,"y":157.23809242248535,"wires":[["ab166c89.20ecf","526591f3.64d5a"]]},{"id":"a1809db7.cd1dd","type":"ibmiot","z":"","name":"oy1um9","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
